// Main Visual Section
.hm_mainvisual {
  position: relative;
  background-color: #fff3e5;
  top: 82px;
  .mv_item {
    height: 750px;
    position: relative;
    .mv_item__bg {
      position: absolute;
      top: 0;
      right: 0;
      width: 1092px;
      height: 668px;
      object-fit: cover;
      border-bottom-left-radius: 90px;
      overflow: hidden;
      @include sp {
        border-bottom-left-radius: 0;
      }
    }
  }
  .mv_inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
    .mv_cnt {
      color: $txt-color;
      max-width: 46.2%;
      position: relative;
      left: 13%;
      top: -40px;
      @include sp {
        max-width: 100%;
        left: 0;
      }
      .mv_sub-ttl {
        font-family: $title-font;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 3px;
        vertical-align: middle;
        text-transform: uppercase;
        margin-bottom: 20px;
        @include sp {
          font-size: 20px;
          margin-bottom: 17px;
          letter-spacing: 0;
          text-align: center;
        }
      }
      .mv_ttl {
        line-height: 100%;
        margin-bottom: 44px;
        letter-spacing: 1.5px;
        font-size: 70px;
        font-weight: 400;
        P {
          background-color: $base-color;
          margin-bottom: 23px;
          @include sp {
            text-align: center;
          }
        }
        @include sp {
          font-size: 30px;
          letter-spacing: -0.9px;
          margin-bottom: 13px;
        }
      }
      .mv_features {
        display: flex;
        gap: 15px;
        @include sp {
          flex-direction: column;
        }
        .mv_feature {
          border-radius: 50%;
          border: 2px solid #ed652b;
          aspect-ratio: 1 / 1;
          padding: 22px 10px;
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 143px;
          height: 143px;
          background-color: $base-color;
          font-family: $title-font;
          @include sp {
            border-radius: 0;
            padding: 10px;
            width: 100%;
            height: 100px;
          }
          .mv_feature-img {
            width: 35px;
            height: auto;
            object-fit: contain;
            margin-bottom: 19px;
          }
          .mv_feature-text {
            font-weight: 700;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 8%;
            text-align: center;
            vertical-align: middle;
            text-transform: uppercase;
            margin-bottom: 2px;
          }
          .mv_feature-heading {
            font-weight: 700;
            font-size: 22px;
            line-height: 100%;
            letter-spacing: 8%;
            text-align: center;
            vertical-align: middle;
            text-transform: uppercase;
            color: #ed652b;
          }
        }
        .mv_feature:nth-child(2) .mv_feature-img {
          width: 30px;
          margin-bottom: 10px;
        }
        .mv_feature:nth-child(3) .mv_feature-img {
          width: 25px;
          margin-bottom: 14px;
        }
      }
      .mv_btn {
        display: flex;
        gap: 15px;
        margin-top: 42px;
        @include sp {
          flex-direction: column;
          gap: 8px;
          margin-top: 13px;
        }
        a {
          color: $base-color;
          border: 1px solid $btn-color;
          border-radius: 30px;
          display: block;
          padding: 19px 20px;
          text-align: center;
          text-decoration: none;
          font-weight: 700;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: 1px;
          width: 71%;
          transition: background-position 0.2s ease-in-out;
          &:active,
          &.is-active {
            background: $btn-color;
            border: 1px solid transparent;
          }
          &:hover {
            background: $btn-color;
            border: 1px solid transparent;
          }
          @include sp {
            padding: 8px 0px;
            width: 100%;
            font-size: 14px;
          }
        }
      }
    }
  }
}

// problem
.hm-problem {
  position: relative;
  padding: 92px 0 0 0;
  background: #FD9152;
  text-align: center;
  z-index: 2;

  @include sp {
    padding: 12px 0 41px;
  }

  &__head {
    color: #ffffff;
    font-family: $title-font;


  }

  &__catch {
    font-weight: 700;
    font-size: 40px;
    line-height: 180%;
    letter-spacing: 0.8px;
    margin: 6px 0 -17px -11px;

    @include sp {
      font-size: 12px;
      margin: 12px 0 7px 0;
    }
  }

  &__title {
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    line-height: 1.8;
    letter-spacing: 0.08em;

    span {
      font-weight: 700;
      font-size: 64px;
      line-height: 1.8;
      letter-spacing: 0.08em;
    }
  }


  .hm-problem__cards {
    max-width: 1040px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 48px auto 130px;
    gap: 20px;

    @include sp {
      grid-template-columns: repeat(1, 1fr);
      margin: 24px auto 0;
      gap: 16px;
      justify-items: center;
    }
  }

  .problem-card {
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background: #FFFFFF;
    padding: 25px 19px 72px 15px;
    border-radius: 10px;

    &::after {
      content: '';
      position: absolute;
      width: 32px;
      height: 37px;
      opacity: 1;
      top: 219px;
      left: 221px;
      background: url("../imgs/home/Bubble Point.svg") no-repeat center/contain;
    }

    @include sp {
      padding: 12px 20px;
    }

    &__img {
      max-width: 53.78432846069336px;
      max-height: 44px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__avatar {
      background: #FFFFFF;
      position: absolute;

      border: 2px solid#ED652B;
      border-radius: 50%;
      top: 184px;

      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
      }

    }

    &__text {
      p {
        margin: 16px 0 0 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 200%;
        letter-spacing: 0.08em;

        span {
          font-weight: 600;
          font-size: 14px;
          line-height: 200%;
          letter-spacing: 0.08em;
        }

      }
    }
  }

  &__solution {
    color: #FFFFFF;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    font-family: $title-font;
    border-top: 2px dashed #FFFFFF;
    padding: 58px 0 0 0;

    &-text {
      font-weight: 700;
      font-size: 40px;
      line-height: 180%;
      letter-spacing: 0.08em;

      @include sp {
        font-size: 20px;
        margin: 37px -23px 0 14px;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 56px;
      line-height: 180%;
      letter-spacing: 0.08em;

      @include sp {
        font-size: 32px;
      }
    }


  }

}

// easy-renovation
.easy-renovation {
position: relative;
    padding: 92px 0 81px 0;
    text-align: center;
    background: url(../imgs/home/bg-easy.jpg) top left -48px;
    background-repeat: no-repeat;
    background-size: 109% auto;
    object-fit: cover;

  @include sp {
    padding: 12px 0 41px;
  }

  &__head {
    color: #444949;
    font-family: $title-font;


  }

  &__catch {
    font-weight: 700;
    font-size: 40px;
    line-height: 180%;
    letter-spacing: 0.8px;
    margin: 95px 0 -9px -13px;

    @include sp {
      font-size: 12px;
      margin: 12px 0 7px 0;
    }
  }

  &__title {
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    line-height: 1.8;
    letter-spacing: 0.08em;

    span {
      font-weight: 700;
      font-size: 48px;
      line-height: 1.8;
      letter-spacing: 0.08em;
    }
  }

  &__content {
    margin: 44px 0 20px 0;
    font-family: $txt-font;
    p{
      font-weight: 300;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 0.08em;
    text-align: center;

    span {
      background: #FD915233;
      padding: 10px;
      font-weight: 600;
      font-size: 24px;
      line-height: 180%;
      letter-spacing: 0.08em;
      text-align: center;

    }
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: -106px;
    width: 100%;
    height: 196px;
    background-image: url("../imgs/home/Rectangle 1720.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
    z-index: 1;
  }
}
