// 基本設定
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@font-face {
  font-family: 'DIN2014';
  src: url('./fonts/DIN2014-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DIN2014';
  src: url('./fonts/DIN2014-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DIN2014';
  src: url('./fonts/DIN2014-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hiragino Kaku Gothic Pro';
  src: url('./fonts/繝偵Λ繧ュ繧吶ヮ譏取悃\ STD\ W3.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
$pc: 768px; // PC
$sp: 767px; //スマートフォン
$base-width: 1232px;
$txt-size: 1rem;
$txt-size-sp: 0.75rem;
$line-height: 2;
$txt-font: 'Hiragino Kaku Gothic Pro', sans-serif;
$title-font: 'Noto Sans', sans-serif;
$sub-font: 'DIN2014', 'Arial', 'Helvetica', sans-serif;
$accent-font:'Hiragino Kaku Gothic Pro', sans-serif;
$txt-color: #444949;
$base-color: #FFFFFF;
$btn-color: #FF5F00;
$span01: #ff3b3b;
$span02: #088fdc;
$bg01: #FD9152;
$bg02: #FFF3E5;
$transition: .3s all ease-in-out;
@mixin pc {
  @media (min-width: ($pc)),
  print {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin pc_hide {
  @include pc {
    display: none;
  }
}
@mixin sp_hide {
  @include sp {
    display: none;
  }
}
@mixin wrap {
  margin: 0 auto;
  max-width: $base-width;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  width: 100%;
}
@mixin transition {
  transition: all 0.3s;
}
@mixin a_alpha {
  &:hover {
    opacity: 0.7;
  }
}
